# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Large data files and model files
*.h5
*.pkl
*.weights
large_data_files/

# Log files
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
